/* Font */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    min-width: 375px;
    max-width: 1440px;
    width: 100%;
}

/* Main */

main {
    color: hsl(234, 29%, 20%);
}

#text-container {
    padding: 20px;
}

#text-container h1 {
    font-size: 28pt;
}

#text-container p {
    padding: 20px 0px 25px;
}

#text-container ul {
    list-style: none;
}

#text-container ul li {
    display: flex;
    align-items: start;
    margin-bottom: 15px;
}

.icon-list {
    margin-right: 15px;
}

#form-container {
    padding: 20px;
    margin-top: -15px;
}

#form-container label, #form-container input{
    display: block;
}

#form-container label {
    font-weight: bold;
    font-size: 10pt;
}

#form-container input {
    margin: 10px 0px 20px;
    padding: 15px;
    width: 100%;
    border: 1px solid hsl(231, 7%, 60%);
    border-radius: 8px;
}

#form-container button {
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 8px;
}


/* Footer */

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}